.natasha-section {
    background-color: #000032;
    .wrapper {
        display: flex;
        align-items: center;
        gap: 3rem;

        .left {
            width: calc(50% + 4rem);
            margin-inline-start: -4rem;
            margin-block: -6rem;
            display: flex;
            align-self: stretch;
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .right {
            width: 50%;
            h2 {
                font-size: 50px;
                line-height: 1.2;
                color: white;
            }

            p {
                font-size: 18px;
                line-height: 1.75;
                color: white;
                margin-block: 1.5rem 0;
            }

            h5 {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.75;
                margin-block: 1.5rem 0;
                color: white;
            }
            .button-wrap {
                display: flex;
                align-items: center;
                gap: 0.75rem;
                margin-block: 3rem 0;

                a {
                    button {
                        border: 1px solid white;
                    }
                    &:last-child {
                        button {
                            background-color: transparent;
                            color: white;
                            border: 1px solid white;
                        }
                    }
                }
            }
        }

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;

            .left,
            .right {
                width: 100%;
            }

            .left {
                margin-block-end: 0;
                width: calc(100% + 8rem);
                margin-inline: -4rem;
            }
        }
        @media (max-width: 700px) {
            .left {
                margin-inline: -2rem;
            }
            .right {
                h2 {
                    font-size: 25px;
                }
                p {
                    font-size: 16px;
                }
                h5 {
                    font-size: 16px;
                }
                .button-wrap {
                    flex-direction: column;
                    align-items: stretch;
                    gap: 1.5rem;
                    button {
                        width: 100%;
                    }
                }
            }
        }
        @media (max-width: 500px) {
            .left {
                margin-inline: -1rem;
            }
        }
    }
}

/************ Second Section *********/
.second-section {
    background-image: linear-gradient(to right, #ffffff, #ffffff00 50%),
        linear-gradient(to top, #ffffff, #ffffff00 50%),
        linear-gradient(to bottom, #ffffff, #ffffff00 50%),
        url(../halo-png/gsy-halo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;

        h2 {
            font-size: var(--heading-two);
        }

        h3 {
            font-size: var(--sub-heading);
            font-weight: 700;
            width: 100%;
            max-width: 60ch;
        }

        p {
            // Heading

            font-size: 16px;
            font-weight: 400;
            width: 100%;
            max-width: 60ch;
            line-height: 1.5;
            margin-block: 1.5rem 0;
        }
        h5 {
            font-size: 16px !important;
            font-weight: 600;
            width: 100%;
            max-width: 60ch;
            line-height: 1.5;
            margin-block: 0.75rem 0;
        }

        button {
            background-color: var(--blue);
            color: white;
            margin-top: 3rem;
        }
    }

    .list-main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        width: 100%;

        .list-one {
            background-color: #ffffff9e;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 2rem;
            width: 100%;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
        }
    }

    .button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    @media (max-width: 1050px) {
        .wrapper {
            padding-inline: 4rem;
            background-image: linear-gradient(to right, #ffffff, #ffffff00 50%),
                linear-gradient(to top, #ffffff, #ffffff00 50%),
                linear-gradient(to bottom, #ffffff, #ffffff00 50%),
                url(../halo-png/boris.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    @media (max-width: 700px) {
        .wrapper {
            padding-inline: 2rem;
        }
    }

    @media (max-width: 500px) {
        .wrapper {
            padding-inline: 1rem;
        }

        h2 {
            font-size: var(--mobile-heading-two);
        }

        .wrapper > p:nth-of-type(2) {
            font-size: var(--mobile-sub-heading);
        }

        .list-main {
            p:nth-of-type(1) {
                font-size: var(--mobile-sub-heading);
            }
            p:nth-of-type(2) {
                font-size: var(--mobile-text);
            }
        }
    }

    @media (max-width: 404px) {
        .list-main {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}
