:root {
    --blue: #000032;
    --heading-two: 50px;
    --sub-heading: 25px;
    --text: 18px;
    --button-text:14px;
    --heading-one:65px;
    --mobile-heading-one:40px;
    --mobile-text:12px;
    --mobile-button-text:14px;
    --mobile-heading-two:35px;
    --mobile-sub-heading:22px;
    --mobile-text:14px;
    --padding:4rem;
    --seven-hundred-padding:2rem;
    --five-hundred-padding:1rem;
    --hero-image-gradient:linear-gradient(to right, #FFFFFF, #FFFFFF00 5%), linear-gradient(to top, #FFFFFF, #FFFFFF00 5%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 5%);
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Roboto", sans-serif;
}
button {
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    cursor:pointer;
    border:2px solid var(--blue);
    font-size:var(--button-text);
    font-weight:700;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:black;
}
header,
section,
main,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
}

p {
    line-height:1.75;
}


/********** Header **********/
header {
    position:fixed;
    background-color:#ffffff80;
    z-index:1000;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px)
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    padding:1rem 4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper .menu {
    width:50px;
    display:none;
}
nav ul {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
}
.header-wrapper button {
    font-size:var(--button-text);
    padding-inline:1rem;
    background-color:var(--blue);
    color:white;
}
.logo-container {
        width:max-content;
}
.logo-container img {
    width:125px;
}
nav {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
@media (max-width:1050px) {
    nav {
        display:none;
    }
    .header-wrapper .menu {
        display:block;
        cursor:pointer;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
/*************** Hero **************/
main {
    background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 80%), linear-gradient(to right, #FFFFFF, #FFFFFF00 80%),url(halo-png/newone.png);
    background-size:cover;
    background-repeat: no-repeat;
}
main .wrapper {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-block:12rem;
    gap:1rem;
 
}
h1 {
    font-size:4rem;
}
main .wrapper p:nth-child(1) {
    letter-spacing:1.25rem;
}
main .wrapper p:nth-of-type(2) {
    width:50%;
    font-weight:300;
}
.main-button-container {
    margin-top:1rem;
}
.main-button-container button {
    padding-inline:4rem;
    background-color:var(--blue);
    color:white;
}
.main-button-container a:nth-of-type(2) button {
    background-color:transparent;
    color:var(--blue);
}








@media (max-width:1000px) {
   main h1 {
    font-size:55px;
   }
   main {
    background-size:max(100%, 600px);
    background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 80%), linear-gradient(to right, #FFFFFF, #FFFFFF00 80%), url(halo-png/newone.png);
}
    
}
@media (max-width:885px) {
    main {
        background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 50%), linear-gradient(to right, #FFFFFF, #FFFFFF00 50%), url(halo-png/newone.png);

    }
    main .wrapper {
        padding-top:70%;
    }
    main .wrapper p,
    main .wrapper h1 {
        width:100% !important;
    }
    main .wrapper {
        padding-bottom:6rem;
    }
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
    }
   
   

}
@media (max-width:681px) {
    main .wrapper p:nth-of-type(1) {
        font-size:15px;
        letter-spacing:0.75rem;
    }
}
@media (max-width:636px) {
    main .wrapper h1 {
        font-size:55px;
        
    }
}
@media (max-width:582px) {
    main .wrapper  {
        padding-top:25.5rem;
        
    }
    br {
        display:none;
    }
    
    .tag {
        letter-spacing:0.4rem !important;
     }
}
@media (max-width:555px) {
    h1 {
        font-size:var(--mobile-heading-one) !important;
    }
    .main-button-container {
        display:flex;
        flex-direction: column;
        width:100%;
        gap:1rem;
    }
    .main-button-container a {
        width:100%;
    }
    main .wrapper {
        padding-bottom:4rem;
    }
    .main-button-container button {
        width:100%;
    }
}
@media (max-width:516px) {
    main .wrapper {
        padding-inline:1rem;
    }
   
    main .wrapper p {
        font-size:var(--mobile-text);
    }

}
@media (max-width:450px) {
    main {
        background-position-x:-8rem;
    }
    .tag {
        letter-spacing:0.25rem !important;
     }
}
@media (max-width:420px) {
    main {
        background-position-x:-10rem;
    }
    h1 {
        font-size:40px !important;
    }
    main .wrapper p:nth-of-type(1) {
        letter-spacing:0.5rem;
    }
}
/*********** 1.5 *******************/
.introduction-section  {
    background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 80%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 80%),url(halo-website-new/iStock-1173492798.png);
    background-size:cover;
    background-repeat: no-repeat;
   
}
.introduction-section .wrapper > p {
    font-weight:300;
    width:50%;
    font-size:var(--text);
   
}
.introduction-section .wrapper > p:nth-of-type(2) {
    font-weight:500;
    width:50%;
    font-size:var(--sub-heading);   
}
.introduction-section .wrapper > p:nth-of-type(1) {
    font-weight:900 !important;
    width:100% !important;
 
}

.introduction-section h2 {
    font-size:var(--heading-two);
}

.introduction-section button {
    background-color:var(--blue);
    color:white;
   
}
.introduction-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
    
    
}



@media (max-width:1187px) {
    .introduction-section .wrapper > p {
        width:70% !important;
       
    }
}

@media (max-width:899px) {
    .introduction-section .wrapper > p {
        width:80% !important;
       
    }
}
@media (max-width:782px) {
    .introduction-section .wrapper > p {
        width:90% !important;
       
    }
}
@media(max-width:700px) {
    .introduction-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:647px) {
    .introduction-section .wrapper > p {
        width:100% !important;
       
    }
}
@media (max-width:500px) {
    .introduction-section p:nth-of-type(1) {
        font-size:var(--mobile-sub-heading);
    }
    .introduction-section h2 {
        font-size:var(--mobile-heading-two);
    }
    .introduction-section .wrapper > p {
        font-size:var(--mobile-text)
       
    }
    .introduction-section .wrapper {
        padding-inline:1rem;
    }
}

/************ Second Section *********/

.second-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.second-section h2 {
    font-size:var(--heading-two);
   
}

.second-section .wrapper {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-start;
}
.second-section p {
    font-size:var(--text);
    font-weight:300;
    width:100%;
    font-family:"roboto";
    max-width:60ch;
}
.second-section .wrapper p:nth-of-type(2) {
    font-size:var(--sub-heading);
    line-height:1.25;
    font-weight:500 ;

}
.second-section button {
    background-color:var(--blue);
    color:white;
    margin-top:1rem;
}
/****/
.second-section {
    background-image:linear-gradient(to right, #FFFFFF, #FFFFFF00 70%), linear-gradient(to top, #FFFFFF, #FFFFFF00 70%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 70%) , url(halo-website-new/halo-full-one.png);
    background-size:cover;
}
.second-section .wrapper {
    width:100%;
    padding-block:22rem;
    padding-bottom:12rem;
}
.second-right {
    width:50%;
}

@media (max-width:700px) {
    .second-section .wrapper {
        padding-inline:2rem;
    }
    
}
@media (max-width:500px) {
    .second-section .wrapper {
        padding-inline:1rem;
        padding-bottom:4rem !important;
    }
    .second-section h2 {
        font-size:var(--mobile-heading-two)

    }
    .second-section p {
        font-size:var(--mobile-text);
        font-weight:300;
        font-family:"roboto";
    }
    .second-section p:nth-of-type(1) {
        font-size:var(--mobile-sub-heading);
        line-height:1.25;
        font-weight:500;
    
    }
   
}
/******************/
.third-section {
    background-color:var(--blue);
    color:white;
}
.third-section .wrapper {
    display:flex;
    align-items: center;
    gap:2rem;
}
.third-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.third-left h2 {
    font-size:var(--heading-two);
}
.third-left p {
    font-size:var(--text);
    font-family: "roboto";
    font-weight:300;

}
.third-left button {
    margin-top:1rem;
    font-size:var(--button-text);
}
.third-left button:hover {
    background-color:rgba(255, 255, 255, 0.795);
}
.third-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-right img {
    width:100%;
}
.third-right,
.third-left {
    width:50%;
}
@media (max-width:989px) {
    .third-section h2 {
        font-size: 40px;
    }
    .third-section P {
        font-size:16px;
    }
}
@media (max-width:1050px) {
    .third-section .wrapper {
        flex-direction:column-reverse;
        gap:4rem;
    }
    .third-left,
    .third-right {
        width:100%;
    }
}
@media (max-width:500px) {
    .third-section h2 {
        font-size:var(--mobile-heading-two);
    }
    .third-section p {
        font-size:var(--mobile-text);
    }
    .third-section button {
        font-size:var(--mobile-button-text)
    }
}

.latest-news-section {
    background-color:var(--blue);
    color:white;

   
}
.latest-news-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
    text-align:center;

}
.latest-news-section h2 {
    font-size:var(--heading-two);
}
.news-titles {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.news-titles p {
    font-size:var(--sub-heading);

}

.news-cards {
    display:flex;
    text-align:left;
    align-items: center;
    gap:2rem;
}
.news-card {
    background-color:#000074;
    padding:2rem;
    border-radius:24px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    width:50%;
    justify-content: flex-start;
}
.news-card button {
    background-color:white;
    color:var(--blue);
    border:2px solid white;
}
.news-card p:nth-of-type(1) {
    font-size:var(--sub-heading);
    font-weight:700;
}
.bw {
    width:100%;
    height:100% !important;
    display:flex;
    align-items: flex-end;
}
@media (max-width:1432px) {
    .news-card {
        height:20rem;
    }
}
@media (max-width:1204px) {
    .news-card {
        height:21rem;
    }
}
@media (max-width:1100px) {
    .news-card {
        height:22rem;
    }
    .news-card p:nth-of-type(1) {
        font-size:20px;
    }
}
@media (max-width:1003px) {
    .news-cards {
       flex-direction: column;
    }
    .news-card {
        width:100%;
    }
    .news-card {
        height:auto;
    }
    .news-card p:nth-of-type(1) {
        font-size:var(--sub-heading);
    }
    
}
@media (max-width:700px) {
    .latest-news-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .latest-news-section .wrapper {
        padding-inline:1rem;
    }
    .news-card p:nth-of-type(1) {
        font-size:var(--mobile-sub-heading);
    }
    .news-card p:nth-of-type(2) {
        font-size:var(--mobile-text);
    }
    .news-card button {
        font-size:var(--mobile-button-text);
    }
    .news-titles h2 {
        font-size:var(--mobile-heading-two)
    }
    .news-titles p {
        font-size:var(--mobile-sub-heading);
    }
}
/**********************/

.contact-section {
    background-color:var(--blue);
    color:white;
}

.contact-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4rem;
    
}
.contact-left,
.contact-right {
    width:50%;
}
.contact-left h2 {
   font-size:var(--heading-two);
}
.contact-left p {
    font-size:var(--sub-heading);
    font-weight:500;
    font-family:"roboto";
    color:white;
}
.contact-left {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    gap:12rem;
}
.contact-right form {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width:100%;
    gap:1rem;
}
.contact-left-top {
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.contact-left-top p {
    font-weight:400;
}
fieldset {
    outline:none;
    border:none;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width:100%;
}
fieldset input,
textarea {
    width:100%;
    padding:0.5rem;
}
form button {
    background-color:white;
    color:var(--blue);
    border:2px solid white;
}
@media (max-width:1119px) {
    .contact-left h2 {
        font-size:45px;
    }
    .contact-left p {
        font-size:20px;
    }
    .contact-section .wrapper {
        gap:2rem;
    }
}
@media (max-width:990px) {
    .contact-left h2 {
        font-size:40px;
    }
    .contact-left p {
        font-size:18px;
    }
    .contact-section .wrapper {
        gap:2rem;
    }
    .contact-left {
        gap:16rem;
    }
}
@media (max-width:1050px) {
    .contact-section .wrapper {
        flex-direction:column;
    }
    .contact-left,
    .contact-right {
        width:100%;
    }
    .contact-left {
        gap:4rem;
    }
    .contact-left h2 {
        font-size:var(--heading-two);
    }
    .contact-left p {
        font-size:var(--sub-heading);
    }
}
@media (max-width:700px) {
    .contact-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    
    .contact-left h2 {
        font-size:var(--mobile-heading-two) ;
    }
    .contact-left p {
        font-size:var(--mobile-sub-heading);
    }
    .contact-section .wrapper {
        padding-inline:1rem;
    }
}
/**********************/
footer img {
    width:40px;
    
}
footer a:nth-child(2) img {
    width:30px;
}
.footer-left > a img {
    width:150px;
}
.footer-top {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:4rem;
}
.footer-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;
}
.socials {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.address p:nth-child(1) {
    font-weight:700;
}
.contact > p {
    font-weight:700;
}
.footer-right ul{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-end;
    gap:4rem;
   
}
.footer-right {
    align-self:flex-end;
    display:flex;
    flex-direction: column-reverse;
    gap:4rem;
}
.iwd img {
    width:100px;
}
.iwd p {
    width:100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer .wrapper {
    display:flex;
    flex-direction:column;
}
.footer-bottom {
    width:100%;
    display:flex;
    padding-block:6rem;
    align-items: center;
    justify-content: flex-end;
    gap:2rem;
    font-weight:200;
}
@media (max-width:1050px) {
    .footer-top {
        flex-direction:column;
        gap:4rem;
    }
    .footer-bottom {
        justify-content: center;
        flex-direction: column;
    }
    .footer-left,
    .footer-right {
        width:100%;
        align-items: center;
        text-align:center;
    }
    .footer-right ul {
        align-items: center;
        text-align:center;
    }
    .address p {
        font-size:var(--mobile-text)
    }
    .contact p {
        font-size:var(--mobile-text)
    }
}

/********************/
.bye-section .wrapper {
    padding-block:12rem;
    display:flex;
    padding-inline:4rem;
    justify-content: center;
}
.bye-section .wrapper h2 {
   text-align:center;
   width:60%;
   color:var(--blue);
   line-height:1.75;
   font-size:var(--mobile-heading-two);
}
@media (max-width:1134px) {
    .bye-section .wrapper h2 {
        width:75%;
    }
}
@media (max-width:781px) {
    .bye-section .wrapper h2 {
        width:100%;
    }
}
@media (max-width:700px) {
    .bye-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .bye-section .wrapper {
        padding-inline:1rem;
    }
    .bye-section .wrapper h2 {
       font-size:var(--mobile-sub-heading);
    }
}

/******************* Watermarks **********************/

.introduction-section .wrapper {
    position:relative;
}
.watermark {
    position:absolute;
    font-weight:900 !important;
    font-size:150px !important;
    opacity:0.05;
}
.introduction-section .watermark {
    top:-0%;
    left:4rem;
}
.second-section .wrapper {
    position:relative;
    padding-top:4rem;

}
.second-section .watermark {
   left:4%;
   top:-5%;
}
.news-titles {
    position: relative;
    z-index:1;
    padding-top:1rem;

}
.news-titles .watermark {
    top:-18%;
    line-height:1;
    opacity:1;
    color:#010154;
    z-index:-1 !important;
    
}
.bye-section .wrapper {
    position:relative;

}
.bye-section .watermark {
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:250px !important;
}

@media (max-width:700px) {
    .introduction-section .watermark {
        left:2rem;
    }
}
@media (max-width:500px) {
    .introduction-section .watermark {
        left:1rem;
    }
}


/******* Dropdown *****/
/***********************/
.dropdown {
    position:relative !important;
    display:none;
    z-index:10000 !important;

    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:white;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;

   
}
.dropdown-heading > a {
    font-weight:500 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:500 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:500 !important;
}
.menu {
    width:50px !important;
    display:none;
}
@media (max-width:1050px) {
    .menu {
        display:block;
        cursor:pointer;
    }
    nav {
        display:none;
    }
    .dropdown {
        displaY:block;
    }
}
@media (max-width:324px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}