:root {
    --blue: #043E74;
    --heading-two: 50px;
    --sub-heading: 25px;
    --text: 18px;
    --button-text:14px;
    --heading-one:75px;
    --mobile-heading-one:50px;
    --mobile-text:12px;
    --mobile-button-text:14px;
    --mobile-heading-two:35px;
    --mobile-sub-heading:22px;
    --mobile-text:14px;
    --padding:4rem;
    --seven-hundred-padding:2rem;
    --five-hundred-padding:1rem;
    --hero-image-gradient:linear-gradient(to right, #FFFFFF, #FFFFFF00 5%), linear-gradient(to top, #FFFFFF, #FFFFFF00 5%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 5%);
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family:"Roboto", sans-serif;

}
button {
    padding:0.5rem 1rem;
    border-radius:0.25rem;
    cursor:pointer;
    border:2px solid var(--blue);
    font-size:var(--button-text);
    font-weight:700;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:black;
}
header,
section,
main,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
}

p {
    line-height:1.75;
}

/********** Header **********/
header {
    position:fixed;
    background-color:#ffffff50
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    padding:1rem 4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper .menu {
    width:50px;
    display:none;
}
.logo-container img {
    width:125px;
}
nav ul {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
}
.header-wrapper button {
    font-size:var(--button-text);
    padding-inline:1rem;
    background-color:var(--blue);
    color:white;
}
nav {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
@media (max-width:850px) {
    nav {
        display:none;
    }
    .header-wrapper .menu {
        display:block;
        cursor:pointer;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
/**************** Hero ********/
/*************** Hero **************/
main {
    background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 50%), linear-gradient(to right, #FFFFFF, #FFFFFF00 50%),url(../halo-png/halo-png-two/happy-cpuple-on-beach.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
main .wrapper {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-block:12rem;
    gap:1rem;
 
}
h1 {
    font-size:5rem;
}
main .wrapper p:nth-child(1) {
    letter-spacing:1.25rem;
}
main .wrapper p:nth-of-type(2) {
    width:50%;
    font-weight:300;
}
.main-button-container {
    margin-top:1rem;
}
.main-button-container button {
    padding-inline:4rem;
    background-color:var(--blue);
    color:white;
}
.main-button-container a:nth-of-type(2) button {
    background-color:transparent;
    color:var(--blue);
}
@media (max-width:1000px) {
    main h1 {
     font-size:65px;
    }
    main {
     background-size:max(100%, 600px);
     background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 50%), linear-gradient(to right, #FFFFFF, #FFFFFF00 50%), url(../halo-png/halo-png-two/happy-cpuple-on-beach.jpg);
 }
     
 }
 @media (max-width:885px) {
     main {
         background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 50%), linear-gradient(to right, #FFFFFF, #FFFFFF00 50%), url(../halo-png/halo-png-two/happy-cpuple-on-beach.jpg);
 
     }
     main .wrapper {
         padding-top:70%;
     }
     main .wrapper p,
     main .wrapper h1 {
         width:100% !important;
     }
 }
 @media (max-width:700px) {
     main .wrapper {
         padding-inline:2rem;
     }
    
    
 
 }
 @media (max-width:681px) {
     main .wrapper p:nth-of-type(1) {
         font-size:15px;
         letter-spacing:0.75rem;
     }
 }
 @media (max-width:636px) {
     main .wrapper h1 {
         font-size:55px;
         
     }
 }
 @media (max-width:582px) {
     main .wrapper  {
         padding-top:27rem;
         
     }
 }
 @media (max-width:555px) {
     h1 {
         font-size:var(--mobile-heading-one) !important;
     }
     .main-button-container {
         display:flex;
         flex-direction: column;
         width:100%;
         gap:1rem;
     }
     .main-button-container a {
         width:100%;
     }
     .main-button-container button {
         width:100%;
     }
 }
 @media (max-width:516px) {
     main .wrapper {
         padding-inline:1rem;
     }
    
     main .wrapper p {
         font-size:var(--mobile-text);
     }
 
 }
 @media (max-width:450px) {
     main {
         background-position-x:-8rem;
     }
 }
 @media (max-width:440px) {
     main {
         background-position-x:-10rem;
     }
     h1 {
         font-size:40px !important;
     }
     main .wrapper p:nth-of-type(1) {
         letter-spacing:0.5rem;
     }
 }
/************ Second Section *********/

.second-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding-left:0;
}

.second-section h2 {
    font-size:var(--heading-two);
}

.second-right {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-start;
}
.second-section p {
    font-size:var(--text);
    font-weight:200;
    font-family:"roboto"
}
.second-section p:nth-of-type(1) {
    font-size:var(--sub-heading);
    line-height:1.25;
    font-weight:500;

}
.second-right button {
    background-color:var(--blue);
    color:white;
    margin-top:1rem;
}
/****/
.second-left {
    background-image:linear-gradient(to left, #FFFFFF, #FFFFFF00 5%), linear-gradient(to top, #FFFFFF, #FFFFFF00 5%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 5%) , url(../halo-png/halo-png-three/andre-ouellet-FzECg2eNhj4-unsplash.jpg);
    width:50%;
    background-size:cover;
    background-position:center;
    padding-block:22rem;
}
.second-right {
    width:50%;
}
@media (max-width:850px) {
    .second-section .wrapper {
        flex-direction: column;
        padding-inline:0;
        gap:4rem;
    }
    .second-right {
        padding-inline:4rem;
    }
    .second-right,
    .second-left {
        width:100%;
    }
    .second-left {
        padding-block:18rem;
    }
    
}
@media (max-width:700px) {
    .second-right {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .second-right {
        padding-inline:1rem;
    }
    .second-section h2 {
        font-size:var(--mobile-heading-two)
        
        

    }
    .second-section p {
        font-size:var(--mobile-text);
        font-weight:200;
        font-family:"roboto"
    }
    .second-section p:nth-of-type(1) {
        font-size:var(--mobile-sub-heading);
        line-height:1.25;
        font-weight:500;
    
    }
   
}
/******************/
/************ Third Section *********/

.third-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding-right:0;
}

.third-section h2 {
    font-size:var(--heading-two);
}

.third-left {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-start;
}
.third-section p:nth-child(1) {
    font-size:var(--sub-heading);
    font-family:"roboto";
    font-weight:500;
}
.third-section p {
    font-size:var(--text);
    font-weight:200;
    font-family:"roboto"
}
.third-section p:nth-of-type(1) {
    font-size:var(--sub-heading);
    font-family:"roboto";
    font-weight:500;
}

.third-left button {
    background-color:var(--blue);
    color:white;
    margin-top:1rem;
}
/****/
.third-right {
    background-image:linear-gradient(to right, #FFFFFF, #FFFFFF00 5%), linear-gradient(to top, #FFFFFF, #FFFFFF00 5%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 5%) , url(../halo-png/halo-png-three/remi-walle-UOwvwZ9Dy6w-unsplash.jpg);
    width:50%;
    background-size:cover;
    padding-block:22rem;
}
.third-left {
    width:50%;
}
@media (max-width:850px) {
    .third-section .wrapper {
        flex-direction: column-reverse;
        padding-inline:0;
        gap:4rem;
    }
    .third-left {
        padding-inline:4rem;
    }
    .third-right {
        background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 5%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 5%) , url(../halo-png/halo-png-three/remi-walle-UOwvwZ9Dy6w-unsplash.jpg);
        background-size:cover ;
        background-position: center;

        background-repeat: no-repeat;

    }
    .third-right,
    .third-left {
        width:100%;
    }
    
}
@media (max-width:700px) {
    .third-left {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .third-left {
        padding-inline:1rem;
    }
    .third-section h2 {
        font-size:var(--mobile-heading-two) !important;
        
        

    }
    .third-section p:nth-of-type(1) {
        font-size:var(--mobile-sub-heading) !important;
        font-family:"roboto";
        font-weight:500;
    }
    .third-section p {
        font-size:var(--mobile-text);
        font-weight:200;
        font-family:"roboto"
    }
    
   
}

/**********************/
.services-intro-section .wrapper {
    display:flex;
    justify-content: space-between;
}
.services-intro-section h2 {
    font-size:var(--sub-heading)
}
.services-intro-section p {
    width:50%;
    font-weight:300;
}
@media (max-width:860px) {
    main .wrapper {
        padding-bottom:8rem;
    }
    .services-intro-section .wrapper {
        flex-direction: column;
        gap:1rem;
        padding-block:0;
    }
    .services-intro-section p {
        width:100%;
    }
}
@media (max-width:700px) {
    .services-intro-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .services-intro-section .wrapper {
        padding-inline:1rem;
    }
    .services-intro-section h2 {
        font-size:var(--mobile-sub-heading);
    }
    .services-intro-section p {
        font-size:var(--mobile-text);
    }
}
/******* Services Cards *****/
.first-section {
    background-image: linear-gradient(to top, #FFFFFF, #FFFFFF00 40%),  linear-gradient(to bottom, #FFFFFF, #FFFFFF00 40%), url(../halo-png/home-helper-makes-tea.png);
    background-size:cover;
    background-repeat:no-repeat;
}
.first-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:6rem;
   
    padding-block:12rem;
}
.service-cards-titles h2 {
    font-size:var(--heading-two);
}
.service-cards-titles p:nth-of-type(1) {
    font-size:var(--sub-heading);
    font-weight:500;
}
.service-cards-titles p:nth-of-type(2) {
    font-size:var(--text);
    font-weight:300;
    width:50%;
}
.service-cards-titles {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.service-cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
}
.service-card {
    background-color:#ffffff94;
    padding:1rem;
    border-radius:0.5rem;
    backdrop-filter: blur(10px);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}
.service-card p:nth-of-type(2) {
    font-weight:300;
    
}
.service-card img {
    width:40px;
}
.service-card p:nth-of-type(1) {
    font-weight:700;
    font-size:20px;
}
@media (max-width:1025px) {
    .service-cards-titles p:nth-of-type(2) {
        width:75%;
    }
    .service-cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:800px) {
    .service-cards-titles p:nth-of-type(2) {
        width:85%;
    }
}
@media (max-width:700px) {
    .first-section .wrapper {
        padding-inline:2rem !important;
    }
}
@media (max-width:692px) {
    .service-cards-titles p:nth-of-type(2) {
        width:100%;
    }
    .service-cards {
        grid-template-columns: 1fr;
    }
}
@media (max-width:500px) {
    .first-section .wrapper {
        padding-inline:1rem !important;
    }
    .service-cards-titles h2 {
        font-size:var(--mobile-heading-two)
    }
    .service-cards-titles p:nth-of-type(1) {
        font-size:var(--mobile-sub-heading);
    }
    .service-cards-titles p:nth-of-type(2) {
        font-size:var(--mobile-text)
    }
    .service-card p:nth-of-type(1) {
        font-size:var(--mobile-sub-heading);
    }
}
    .service-card p:nth-of-type(2) {
        font-size:var(--mobile-text);
    }


/********************************************/
/************ Fifth Section *********/

.fifth-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding-left:0;
}

.fifth-section h2 {
    font-size:var(--heading-two);
}

.fifth-right {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: flex-start;
}
.fifth-section p {
    font-size:var(--text);
    font-weight:200;
    font-family:"roboto"
}
.fifth-section p:nth-of-type(1) {
    font-size:var(--sub-heading);
    line-height:1.25;
    font-weight:500;

}
.fifth-right button {
    background-color:var(--blue);
    color:white;
    margin-top:1rem;
}
/****/
.fifth-left {
    background-image:linear-gradient(to left, #FFFFFF, #FFFFFF00 5%), linear-gradient(to top, #FFFFFF, #FFFFFF00 5%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 5%) , url(../halo-png/halo-png-three/hand-hold.png);
    width:50%;
    background-size:cover;
    background-position:center;
    padding-block:22rem;
}
.fifth-right {
    width:50%;
}
@media (max-width:850px) {
    .fifth-section .wrapper {
        flex-direction: column;
        padding-inline:0;
        gap:4rem;
    }
    .fifth-right {
        padding-inline:4rem;
    }
    .fifth-right,
    .fifth-left {
        width:100%;
    }
    .fifth-left {
        padding-block:14rem;
        background-image:linear-gradient(to top, #FFFFFF, #FFFFFF00 5%), linear-gradient(to bottom, #FFFFFF, #FFFFFF00 5%) , url(../halo-png/halo-png-three/hand-hold.png);


    }
    
    
}
@media (max-width:700px) {
    .fifth-right {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .fifth-right {
        padding-inline:1rem;
    }
    .fifth-section h2 {
        font-size:var(--mobile-heading-two)
        
        

    }
    .fifth-section p {
        font-size:var(--mobile-text);
        font-weight:200;
        font-family:"roboto"
    }
    .fifth-section p:nth-of-type(1) {
        font-size:var(--mobile-sub-heading);
        line-height:1.25;
        font-weight:500;
    
    }
   
}
/******************/
footer img {
    width:40px;
    
}

footer img:nth-child(2n) {
    width:30px;
}
.footer-left > a img {
    width:150px;
}
footer .wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:4rem;
}
.footer-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:4rem;
}
.socials {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.address p:nth-child(1) {
    font-weight:700;
}
.contact > p {
    font-weight:700;
}
.footer-right ul{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-end;
    gap:4rem;
   
}
.footer-right {
    align-self:flex-end;
}
@media (max-width:850px) {
    footer .wrapper {
        flex-direction:column;
        gap:4rem;
    }
    .footer-left,
    .footer-right {
        width:100%;
        align-items: center;
        text-align:center;
    }
    .footer-right ul {
        align-items: center;
        text-align:center;
    }
    .address p {
        font-size:var(--mobile-text)
    }
    .contact p{
        font-size:var(--mobile-text)
    }
}

/********* FAQ *********/

.faq-section {
    background-color:var(--blue);
    color:white;
}
.faq-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
}
.faq-titles {
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}
.faq-titles h2 {
    font-size:var(--heading-two) !important;
}
.faq-titles p {
    width:50%;
    font-size:var(--sub-heading);
}
.accordian {
    background-color:#02284c;
    padding:2rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
    width:75%;
    border-radius:0.5rem;
    height:max-content;
    color:white;

}
.accordian a {
    color:white;
}
.accordian-item {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    height:max-content;
    cursor:pointer;



}
.accordian-link {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.accordian-link p {
    color:white;
    padding:0.5rem;
    font-size:20px;
    
}


.remove {
    display:none;
    

}
.gone {
    display:none;
    

}
.here {
    display:block;
    

}
.answer {
    overflow:hidden;
    max-height:0 ;
    position:relative;
    background-color:var(--blue);
    transition:0.5s;


}
.answer::before {
    content:"";
    position: absolute;
    width:0.4rem;
    height:90%;
    background-color:white;
    top:50%;
    left:0;
    transform:translateY(-50%)
}
.answer p{
    padding-inline:2rem;

}
.accordian {
    width:100%;
}

.active {
    overflow:hidden !important;
    max-height:20rem !important;
    transition:2.5s !important;
}
@media (max-width:1128px) {
    .faq-titles p {
        width:75%;
    }
}
@media (max-width:700px) {
    .faq-section .wrapper {
        padding-inline:2rem;
    }
    .accordian {
        width:100%;
    }
    .faq-titles p {
        width:100%;
    }
}
@media (max-width:500px) {
    .faq-section .wrapper {
        padding-inline:1rem;
    }
    .faq-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .faq-titles p {
        font-size:var(--mobile-sub-heading);
    }
    .accordian p {
        font-size:var(--mobile-text);
    }
}




